{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_user.user.header.edit'|trans({'%name%': user.email})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_user_user_admin_list', identifiers), 'ekyna_core.button.back_to_list', 'default', 'sm', 'list') }}
{{ ui_link(path('ekyna_user_user_admin_new', identifiers), 'ekyna_user.user.button.new', 'primary', 'sm', 'plus') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_user_user_admin_edit', identifiers|merge({'userId': user.id})) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaUserBundle:User/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}