{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_user.user.header.remove'|trans({'%name%': user.email})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_user_user_admin_list', identifiers), 'ekyna_core.button.back_to_list', 'default', 'sm', 'list') }}
{{ ui_link(path('ekyna_user_user_admin_new', identifiers), 'ekyna_user.user.button.new', 'primary', 'sm', 'plus') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_user_user_admin_remove', identifiers|merge({'userId': user.id})) }}" method="post" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
		{{ form_widget(form) }}
    </div>
    {{ ui_form_footer(path('ekyna_user_user_admin_show', identifiers|merge({'userId': user.id})), 'ekyna_core.button.remove', 'danger') }}
</form>
{% endblock %}

{% block side %}
{% endblock %}