{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna.user.header.show'|trans({'%name%': user.email})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_user_user_admin_list'), 'ekyna.admin.button.back_to_list', 'default', 'sm', 'list') }}
{{ ui_link(path('ekyna_user_user_admin_new'), 'ekyna.user.button.new', 'primary', 'sm', 'plus') }}
{% endblock %}

{% block main %}
<div class="actions">
    {{ ui_link(path('ekyna_user_user_admin_edit', {'userId': user.id}), 'ekyna.admin.button.edit', 'warning', 'sm', 'pencil') }}
    {{ ui_link(path('ekyna_user_user_admin_remove', {'userId': user.id}), 'ekyna.admin.button.remove', 'danger', 'sm', 'trash') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
	    <li class="active"><a href="#general" data-toggle="tab">Général</a></li>
	</ul>
	<div class="show-body">
	    <div class="tab-content">
		    <div class="tab-pane active" id="general">
		        <div class="row">
	                <div class="col-md-6">
	                    {{ show_row(user.username, 'text', 'Nom d\'utilisateur', {'label_nb_col': 4}) }}
	                </div>
	                <div class="col-md-6">
	                    {{ show_row(user.group, 'entity', 'Groupe', {'label_nb_col': 4, 'route': 'ekyna_user_group_admin_show', 'route_params_map': {'groupId': 'id'}, 'field': 'name'}) }}
	                </div>
	            </div>
				{{ show_row(user.email, 'text', 'Email') }}
				<hr>
				{{ show_row(user.company, 'text', 'Entreprise') }}
		        <div class="row">
	                <div class="col-md-6">
	                    {{ show_row(user.lastname, 'text', 'Nom', {'label_nb_col': 4}) }}
	                </div>
	                <div class="col-md-6">
                        {{ show_row(user.firstname, 'text', 'Prénom', {'label_nb_col': 4}) }}
	                </div>
	            </div>
		        <div class="row">
	                <div class="col-md-6">
	                    {{ show_row(user.phone, 'text', 'Téléphone', {'label_nb_col': 4}) }}
	                </div>
	                <div class="col-md-6">
                        {{ show_row(user.mobile, 'text', 'Mobile', {'label_nb_col': 4}) }}
	                </div>
	            </div>
		    </div>
	    </div>
	</div>
</div>
{% endblock %}

{% block side %}
{% endblock %}