{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_user.address.header.edit'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_user_user_admin_show', identifiers), 'ekyna.admin.button.back', 'default', 'sm', 'list') }}
{{ ui_link(path('ekyna_user_address_admin_new', identifiers), 'ekyna_user.address.button.new', 'primary', 'sm', 'plus') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_user_address_admin_edit', identifiers|merge({'addressId': address.id})) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaUserBundle:Address/Admin:_form.html.twig" %}
    {{ ui_form_footer(path('ekyna_user_address_admin_show', identifiers|merge({'addressId': address.id}))) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}