{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_user.address.header.remove'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_user_user_admin_show', identifiers), 'ekyna.admin.button.back', 'default', 'sm', 'list') }}
{{ ui_link(path('ekyna_user_address_admin_new', identifiers), 'ekyna_user.address.button.new', 'primary', 'sm', 'plus') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_user_address_admin_remove', identifiers|merge({'addressId': address.id})) }}" method="post" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
		{{ form_widget(form) }}
    </div>
    {{ ui_form_footer(path('ekyna_user_address_admin_show', identifiers|merge({'addressId': address.id})), 'ekyna.admin.button.remove', 'danger') }}
</form>
{% endblock %}

{% block side %}
{% endblock %}