{% apply spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<response>
    <user-widget status="{{ user is same as (null) ? "0" : "1" }}"
        {%- if redirect is not empty %} redirect="{{ redirect }}"{% endif %}><![CDATA[
    {% if user is not same as(null) %}
        <div class="user-widget-menu">
        {{ knp_menu_render('ekyna_user.widget', {
            'template': '@EkynaUi/Menu/menu.html.twig',
            'style': 'stacked-pills'
        }) }}
        </div>
    {% else %}
        <div class="sign-in-or-register">
            <a href="{{ path('ekyna_user_security_login') }}" class="btn btn-primary" data-user-modal>
                {{ 'button.login'|trans({}, 'EkynaUi') }}
            </a>
            <a href="{{ path('ekyna_user_account_registration') }}" class="btn btn-default">
                {{ 'account.registration.button'|trans({}, 'EkynaUser') }}
            </a>
        </div>
    {% endif %}
    ]]></user-widget>
</response>
{% endapply %}
