{% spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<response>
    <user-widget status="{{ user is same as (null) ? "0" : "1" }}"><![CDATA[
    {% if user is not same as(null) %}
        <div class="user-widget-menu">
        {{ knp_menu_render('user_widget', {
            'template': '@EkynaUser/menu.html.twig',
            'style': 'stacked-pills'
        }) }}
        </div>
    {% else %}
        <div class="sign-in-or-register">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary" data-user-modal>
                {{ 'ekyna_core.button.login'|trans }}
            </a>
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">
                {{ 'ekyna_user.account.registration.button'|trans }}
            </a>
        </div>
    {% endif %}
    ]]></user-widget>
</response>
{% endspaceless %}
