{% extends "EkynaUserBundle::layout.html.twig" %}

{% block account %}
<h3>{{ 'ekyna_user.account.address.remove'|trans }}</h3>
<hr>
<form action="{{ path('ekyna_user_address_remove', {'addressId': address.id}) }}" method="post" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
	    {{ form_widget(form) }}
    </div>
    {{ ui_form_footer(form) }}
</form>
{% endblock %}