{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_user.group.header.edit_permissions'|trans({'%name%': group.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(group, 'show', {'label': 'ekyna_core.button.back', 'icon': 'arrow-left'}) }}
{{ admin_resource_btn(group, 'list') }}
{{ admin_resource_btn(group, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_user_group_admin_edit_permissions', identifiers|merge({'groupId': group.id})) }}" {{ form_enctype(form) }} method="post" class="form-horizontal">
    <div class="form-body">
        {% form_theme form "EkynaUserBundle:Admin/Group:_form_theme.html.twig" %}
	    {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        <div class="acl-table ekyna-table">
            {{ form_widget(form.acls) }}
        </div>
        {{ form_rest(form) }}
	</div>
</form>
{% endblock %}