{% spaceless %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ bootstrap_set_label_col(4) }}
    {{ bootstrap_set_widget_col(8) }}

    <div class="form-body">
        {%- set owners = hwi_oauth_resource_owners() -%}
        {%- if owners is not empty -%}
        <div class="form-group" style="padding:0 15px;">
        {%- for owner in hwi_oauth_resource_owners() -%}
            {%- if loop.index0 % 2 == 0 %}<div class="row">{% endif -%}
            <div class="col-md-6">
                <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-block btn-social btn-{{ owner }}">
                    <span class="fa fa-{{ owner }}"></span> {{ owner|capitalize }}
                </a>
            </div>
            {%- if loop.last or loop.index % 2 == 0 %}</div>{% endif -%}
        {%- endfor -%}
        </div>
        <hr>
        {%- endif -%}

        {{ form_errors(form, {'global_errors': true}) }}

        {{ form_row(form._username) }}
        {{ form_row(form._password) }}
        {% if form._remember_me is defined %}
            {{ form_row(form._remember_me) }}
        {% endif %}
        {{ form_row(form._target_path) }}

        {{ form_rest(form) }}

        <div class="form-footer">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-primary" name="_submit">
                        {{ 'ekyna_core.button.login'|trans }}
                    </button>
                    {% if ekyna_user_account_var('resetting') -%}
                        <br>
                        <a href="{{ path('fos_user_resetting_request') }}">
                            {{ 'ekyna_user.account.resetting.button'|trans }}
                        </a>
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endspaceless %}
