<form action="{{ path('fos_user_security_check') }}" method="post" class="form-horizontal" role="form">
    {% if error %}
    <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle')  }}</div>
    {% endif %}
    <div class="form-group">
        <label for="username" class="col-sm-5 control-label">{{ 'ekyna_core.field.email_address'|trans }}</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="email" name="_username" value="{{ last_username }}" placeholder="{{ 'ekyna_core.field.email_address'|trans }}">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-5 control-label">{{ 'ekyna_core.field.password'|trans }}</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'ekyna_core.field.password'|trans }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me"> {{ 'ekyna_core.field.remember_me'|trans }}
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <button type="submit" class="btn btn-primary" name="_submit">{{ 'ekyna_core.button.login'|trans }}</button>
            {% if ekyna_user_config.account.resetting -%}
            <br><a href="{{ path('fos_user_resetting_request') }}" class="btn btn-link">{{ 'ekyna_user.account.resetting.button'|trans }}</a>
            {%- endif %}
        </div>
    </div>
</form>