{% apply spaceless %}
<form action="{{ path('ekyna_user_security_login') }}" class="modal-form" method="post">
    {# OAuth providers #}
    {%- set owners = oauth_owners('ekyna_user') -%}
    {%- if owners is not empty -%}
        <div class="form-group" style="padding:0 15px;">
            {%- for owner, route in owners -%}
                {%- if loop.index0 % 2 == 0 %}<div class="row">{% endif -%}
                <div class="col-md-6">
                    <a href="{{ path(route) }}" class="btn btn-block btn-social btn-{{ owner }}">
                        <span class="fa fa-{{ owner }}"></span> {{ owner|capitalize }}
                    </a>
                </div>
                {%- if loop.last or loop.index % 2 == 0 %}</div>{% endif -%}
            {%- endfor -%}
        </div>
        <hr>
    {%- endif -%}

    {# Alerts #}
    {% if app.user %}
        <div class="alert alert-info">
            {{ 'field.logged_in_as'|trans({'{user}': app.user.userIdentifier}, 'EkynaUi')|raw }}<br>
            <a href="{{ path('ekyna_user_security_logout') }}">
                {{ 'button.logout'|trans({}, 'EkynaUi') }}
            </a>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {# Email #}
    <div class="form-group">
        <label class="control-label required" for="email">
            {{ 'field.email_address'|trans({}, 'EkynaUi') }}
        </label>
        <input type="text" id="email" name="email" required="required" class="form-control">
    </div>

    {# Password #}
    <div class="form-group">
        <label class="control-label required" for="password">
            {{ 'field.password'|trans({}, 'EkynaUi') }}
        </label>
        <input type="password" id="password" name="password" required="required" class="form-control">
    </div>

    {# Remember me #}
    <div class="form-group">
        <div class="checkbox text-center">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="{{ remember_me }}" value="1">
                {{ 'field.remember_me'|trans({}, 'EkynaUi') }}
            </label>
        </div>
    </div>

    {# Target path #}
    {% if target_path is not empty %}
        <input type="hidden" id="target_path" name="target_path" class="form-control" value="{{ target_path }}">
    {% endif %}

    {# CSRF #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

    {% if ekyna_user_account_var('resetting') -%}
    <p class="text-center">
        <a href="{{ path('ekyna_user_account_resetting') }}">
            {{ 'account.resetting.button'|trans({}, 'EkynaUser') }}
        </a>
    </p>
    {%- endif %}

</form>
{% endapply %}
