{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
	    {{ form_row(form.plainPassword.first, { 'label_col': 5, 'widget_col': 7 }) }}
	    {{ form_row(form.plainPassword.second, { 'label_col': 5, 'widget_col': 7 }) }}
	    {{ form_rest(form) }}
    </div>
    {#{ ui_form_footer(null, 'resetting.reset.submit'|trans, 'primary', 'ok', false, 4) }#}
    {{ ui_form_footer(form) }}
</form>