<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        {{ form_errors(form) }}
        {{ form_row(form.identity) }}
	    {{ form_row(form.email, {'label': 'ekyna_core.field.email'|trans}) }}
		{% if form.username is defined -%}
	    {{ form_row(form.username, {'label': 'ekyna_core.field.username'|trans}) }}
		{%- endif %}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.plainPassword.first, {'label_col': 4, 'widget_col': 8, 'label': 'ekyna_core.field.password'|trans}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.plainPassword.second, {'label_col': 4, 'widget_col': 8, 'label': 'ekyna_core.field.verify'|trans}) }}
            </div>
        </div>
	    <hr>
        {{ form_row(form.company) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.phone, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.mobile, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_row(form.captcha) }}
            </div>
        </div>
	    {{ form_rest(form) }}
    </div>
    <div class="form-footer">
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" name="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> {{ 'ekyna_core.button.save'|trans }}
                </button>
            </div>
	    </div>
	</div>
</form>