{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_user.group.header.edit'|trans({'%name%': group.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(group, 'list') }}
{{ admin_resource_btn(group, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_user_group_admin_edit', identifiers|merge({'groupId': group.id})) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaUserBundle:Group/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}