<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <div class="form-body">
		{{ bootstrap_set_style('horizontal') }}
		{{ form_row(form.current_password, {'label': 'ekyna_user.account.password.current'|trans, 'label_col': 5, 'widget_col': 7}) }}
		{{ form_row(form.plainPassword.first, {'label': 'ekyna_user.account.password.new'|trans, 'label_col': 5, 'widget_col': 7}) }}
		{{ form_row(form.plainPassword.second, {'label': 'ekyna_user.account.password.confirm'|trans, 'label_col': 5, 'widget_col': 7}) }}
		{{ form_rest(form) }}
    </div>
    {{ ui_form_footer(null, 'ekyna_user.account.password.submit', 'primary', 'ok', false, 5) }}
</form>
