{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    {{ bootstrap_set_style('horizontal') }}
    {{ form_row(form.current_password, { 'label_col': 4, 'widget_col': 8 }) }}
    {{ form_row(form.plainPassword.first, { 'label_col': 4, 'widget_col': 8 }) }}
    {{ form_row(form.plainPassword.second, { 'label_col': 4, 'widget_col': 8 }) }}
    {{ form_rest(form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
        </div>
    </div>
</form>